@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* Oculta scrollbars pero mantiene el desplazamiento con rueda/gesto */
.no-scrollbar {
  -ms-overflow-style: none;      /* IE y Edge antiguos */
  scrollbar-width: none;         /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  width: 0; height: 0;           /* Chrome/Safari/Edge */
}

@supports (-webkit-touch-callout: none) {
  input, select, textarea, button {
    font-size: 16px !important;
  }
}